.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.37),-5px -8px 10px 0 rgba(255, 255, 255, 0.37);
    /* box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.37),inset -5px -5px 10px 0px rgba(255, 255, 255, 0.37); */
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px 30px;
    margin: 0.5em 0;
  }
  .glass input{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.37),-2px -2px 5px 0 rgba(255, 255, 255, 0.20); */
    background-color: white;
  }
  .glass label{
    float: right;
  }
  .glass input:focus{
    borrder:0;
    /* box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.37),inset -5px -5px 10px 0px rgba(255, 255, 255, 0.20);
  }

  .dropShadow{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
  }
  .tgradient{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #193854, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    line-height: 2em;
    /* -webkit-text-stroke: 1px rgb(252, 252, 252); */
  }
  .top-1{
    position: relative;
    top: -3rem;
    width: 100%;
    z-index: 1;
  }